#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


/* контейнер для модалки */
.modal {
  position: fixed;
  inset: 0; /* top, right, bottom, left = 0 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* фон */
.modal-background {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* блок с контентом */
.modal-content {
  position: relative;
  background: #fff;
  padding: 20px;
  max-width: 500px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  text-align: center;
  justify-self: center;
}

/* заголовок */
.modal-movie-title {
  margin: 0 0 10px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
}

/* постер */
.modal-poster {
  max-width: 100%;
  height: auto;
  margin: 10px 0 15px;
  border-radius: 6px;
}

/* кнопка закрытия */
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #e63946;
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  transition: background 0.2s;
  
}

.modal-close-btn:hover {
  background: #c1121f;
}

.modal-year {

}
.modal-genre {

}

.modal-plot {

}

.movie-li {
  background: #f9f9f9;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}
.movie-article {

}
.movie-title {

}
.movie-poster {

}
.movie-year {

}

.control-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 8px;
  z-index: 1000;
  background: #fff; 
}
.finder-input {
  width: 90%;
}
.find-btn {
  padding: 3px 3px;
  
}
.suggestion-li {

}

.suggestion-ul {

}

.poster-cap {
  width: 200px;
  height: 300px;
  object-fit: contain; /* чтобы заглушка влезла */
  background: #eee;    /* серый фон */
  border-radius: 8px; 
}